/* hébergements à marseille */
.hebergements {
  display: flex;
  flex-wrap: wrap;
}
.hebergements > div {
  margin-left: 2%;
  margin-right: 2%;
  flex-grow: 1;
  margin-bottom: 3%;
  border: 1px solid white;
  flex-basis: 25%;
  border-radius: 20px 20px 20px 20px;
  background-color: white;
  box-shadow: 0 0 15px var(--gris);
}
.hebergements > div:hover {
  transform: scale(1.05);
}
.hebergements div h3 {
  margin: 1% 1%;
  margin-left: 3%;
}
.hebergements div p {
  margin: 1% 1%;
  margin-left: 3%;
}
.logement i {
  background-color: transparent;
  padding: 0%;
  margin-left: 1%;
}
.logement img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  padding: 1.5%;
}
/* tablette */
@media (min-width: 768px) and (max-width: 991px) {
  .hebergements div {
    flex-basis: 35%;
  }
  .hebergements > div {
    margin-left: 2%;
  }
  .logement img {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    padding: 1.5%;
    object-fit: cover;
  }
}
/* téléphone mobile */
@media (max-width: 767px) {
  .hebergements {
    flex-direction: column;
    flex-basis: 100%;
  }
  .hebergements > div {
    margin-left: 2%;
    box-shadow: 0 0 15px var(--gris);
  }
  .logement img {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    padding: 1.5%;
    object-fit: cover;
  }
}
